<script lang="ts">
  import FaIcon from 'svelte-fa/src/fa.svelte';
  import { faBell } from '@fortawesome/free-solid-svg-icons';

  const greetingMsg = new Date().getHours() < 12 ? 'Good morning' : 'Good afternoon';
</script>

<div class="m-auto flex flex-col h-screen max-w-screen-2xl">
  <header class="h-1/4 flex flex-col justify-start items-center">
    <div class="w-screen mt-4 px-4 flex justify-between items-center">
      <img src="/bridge.svg" width="100" alt="logo" />
      <img src="/avatar.png" width="40" alt="avatar" />
    </div>
    <h1 class="text-4xl mt-8">{greetingMsg}</h1>
    <a href="/notifications" class="mt-6 mb-8 flex items-center">
      <h2 class="text-xl text-gray-500 hover:text-gray-400">You have no new notifications</h2>
      <FaIcon icon={faBell} class="ml-2 text-green-500" />
    </a>
  </header>
  <main class="p-10 bg-green-500 flex-1 flex flex-col items-center">
    <div class="w-full p-4 bg-gray-50 rounded-sm shadow-md flex flex-col items-center">
      <h2 class="text-xl">At a glance</h2>
      <div class="mt-4 w-full flex justify-evenly">
        <div class="w-1/2 flex flex-col justify-evenly items-center">
          <div class="my-6 flex flex-col justify-between items-center">
            <div class="text-4xl text-yellow-500">0</div>
            <div class="text-gray-600">Pending Orders</div>
          </div>
          <div class="my-6 flex flex-col justify-between items-center">
            <div class="text-3xl text-blue-600">0</div>
            <div class="text-gray-600">Completed Orders</div>
          </div>
        </div>
        <div class="h-full border border-gray-400" />
        <div class="w-1/2 flex flex-col justify-center items-center">
          <div class="py-6 flex flex-col justify-between items-center">
            <div class="text-5xl text-green-600">4</div>
            <div class="mt-3 text-xl text-gray-600">Listings</div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mt-6 p-4 bg-gray-50 rounded-sm shadow-md flex flex-col items-center">
      <div class="w-full my-1 flex items-center">
        <div class="text-xl flex-grow">Listings</div>
        <div>
          <label for="sort" class="hidden">Sort By</label>
          <select
            name="sort"
            id="sort"
            class="px-2 py-1 text-white bg-green-400 hover:bg-green-300 rounded-md outline-none"
          >
            <option value="popularity">Popular</option>
            <option value="age">Newest</option>
          </select>
        </div>
      </div>
      <div class="w-full">
        <a href="#" class="p-4 hover:bg-gray-100 flex items-center">
          <img
            src="https://picsum.photos/id/159/50"
            width="50"
            class="rounded-full"
            alt="product"
          />
          <div class="w-1/5 lg:w-1/6 pl-5">Big Greens</div>
          <div class="pl-5 text-gray-600 text-sm flex-grow">Our most popular one</div>
          <div class="pl-5">0<span class="text-gray-600 text-sm">lb</span></div>
        </a>
        <a href="#" class="p-4 hover:bg-gray-100 flex items-center">
          <img
            src="https://picsum.photos/id/159/50"
            width="50"
            class="rounded-full"
            alt="product"
          />
          <div class="w-1/5 lg:w-1/6 pl-5">Cherry Reds</div>
          <div class="pl-5 text-gray-600 text-sm flex-grow">Small and delicious</div>
          <div class="pl-5">25<span class="text-gray-600 text-sm">lb</span></div>
        </a>
        <a href="#" class="p-4 hover:bg-gray-100 flex items-center">
          <img
            src="https://picsum.photos/id/159/50"
            width="50"
            class="rounded-full"
            alt="product"
          />
          <div class="w-1/5 lg:w-1/6 pl-5">Golden Tubes</div>
          <div class="pl-5 text-gray-600 text-sm flex-grow">Fresh batch, just pulled</div>
          <div class="pl-5">38<span class="text-gray-600 text-sm">lb</span></div>
        </a>
        <a href="#" class="p-4 hover:bg-gray-100 flex items-center">
          <img
            src="https://picsum.photos/id/159/50"
            width="50"
            class="rounded-full"
            alt="product"
          />
          <div class="w-1/5 lg:w-1/6 pl-5">Purple Heads</div>
          <div class="pl-5 text-gray-600 text-sm flex-grow">New batch! Try this one out</div>
          <div class="pl-5">27<span class="text-gray-600 text-sm">lb</span></div>
        </a>
      </div>
    </div>
  </main>
  <footer class="p-2 text-white text-opacity-90 text-sm bg-green-600 flex justify-center">
    2021 &copy; SomeCompanyName
  </footer>
</div>
