<script lang="ts">
  import FaIcon from 'svelte-fa/src/fa.svelte';
  import { faSignInAlt } from '@fortawesome/free-solid-svg-icons';
</script>

<div class="m-auto flex flex-col h-screen max-w-screen-2xl">
  <header class="h-1/3 flex flex-col justify-center items-center">
    <img src="/bridge.svg" width="250" class="mb-8" alt="logo" />
    <h1 class="text-5xl mb-4">Welcome!</h1>
    <h2 class="text-xl text-gray-500">Sign in to continue</h2>
  </header>
  <main class="p-10 bg-green-500 flex-1 flex flex-col items-center">
    <div class="flex flex-col lg:flex-row items-center">
      <div class="mb-6 lg:mb-0 flex flex-col items-center">
        <input
          type="email"
          placeholder="Email"
          class="mb-4 p-3 text-2xl text-white placeholder-white placeholder-opacity-70 bg-green-400 hover:bg-opacity-70 outline-none focus:ring-2 ring-green-300 shadow-md"
        />
        <input
          type="password"
          placeholder="Password"
          class="p-3 text-2xl text-white placeholder-white placeholder-opacity-70 bg-green-400 hover:bg-opacity-70 outline-none focus:ring-2 ring-green-300 shadow-md"
        />
      </div>
      <button
        type="submit"
        class="lg:ml-8 p-6 text-xl text-green-500 bg-white active:bg-gray-100 outline-none rounded-sm shadow-md active:shadow-none"
      >
        <FaIcon icon={faSignInAlt} size="2x" />
      </button>
    </div>
    <a href="/register" class="mt-10 text-lg text-white hover:text-opacity-80"
      >Don't have an account? Register here</a
    >
  </main>
  <footer class="p-2 text-white text-opacity-90 text-sm bg-green-600 flex justify-center">
    2021 &copy; SomeCompanyName
  </footer>
</div>
