<script lang="ts">
  import FaIcon from 'svelte-fa/src/fa.svelte';
  import {
    faLeaf,
    faStore,
    faAngleRight,
    faAngleLeft,
    faCheck
  } from '@fortawesome/free-solid-svg-icons';

  enum ACCOUNT_TYPES {
    FARM = 'Farm',
    MARKET = 'Market'
  }

  // TODO rework these steps to be more encapsulated and w/ validation
  enum REGISTRATION_STEPS {
    TYPE = 1,
    DETAILS = 2,
    CONFIRM = 3
  }

  const STEP_MSGS = {
    [REGISTRATION_STEPS.TYPE]: 'Which type of account are you registering for?',
    [REGISTRATION_STEPS.DETAILS]: 'Fill out the details below',
    [REGISTRATION_STEPS.CONFIRM]: 'Does this all look right?'
  };

  let currentStep = REGISTRATION_STEPS.TYPE;

  let accountType = '';
  let businessName = '';
  let location = '';
  let email = '';
  let password = '';
  let confirmPassword = '';

  const confirmStep = () => {
    currentStep = Math.min(currentStep + 1, REGISTRATION_STEPS.CONFIRM);
  };

  const goBackStep = () => {
    currentStep = Math.max(currentStep - 1, 1);
    password = '';
    confirmPassword = '';
  };

  const selectAccountType = (type: ACCOUNT_TYPES) => {
    accountType = type;
    confirmStep();
  };
</script>

<div class="m-auto flex flex-col h-screen max-w-screen-2xl">
  <header class="h-1/3 flex flex-col justify-center items-center">
    <img src="/bridge.svg" width="200" class="mb-8" alt="logo" />
    <h1 class="text-5xl mb-4">Registration</h1>
    <h2 class="text-xl text-gray-500">{STEP_MSGS[currentStep]}</h2>
  </header>
  <main class="p-8 bg-green-500 flex-1 flex flex-col items-center">
    {#if currentStep == REGISTRATION_STEPS.TYPE}
      <div class="flex flex-col lg:flex-row items-center lg:justify-center">
        <button
          type="submit"
          on:click={() => selectAccountType(ACCOUNT_TYPES.FARM)}
          class="m-4 w-44 h-44 text-2xl text-green-500 bg-white active:bg-gray-100 outline-none rounded-sm shadow-md active:shadow-none flex flex-col justify-center items-center"
        >
          <FaIcon icon={faLeaf} size="2x" class="mb-4" />
          {ACCOUNT_TYPES.FARM}
        </button>
        <button
          type="submit"
          on:click={() => selectAccountType(ACCOUNT_TYPES.MARKET)}
          class="m-4 w-44 h-44 text-2xl text-green-500 bg-white active:bg-gray-100 outline-none rounded-sm shadow-md active:shadow-none flex flex-col justify-center items-center"
        >
          <FaIcon icon={faStore} size="2x" class="mb-4" />
          {ACCOUNT_TYPES.MARKET}
        </button>
      </div>
      <a href="/login" class="mt-10 text-lg text-white hover:text-opacity-80"
        >Already have an account? Sign in here</a
      >
    {/if}
    {#if currentStep == REGISTRATION_STEPS.DETAILS}
      <button
        type="button"
        on:click={goBackStep}
        class="mb-6 px-2 text-white hover:text-opacity-80 outline-none active:text-white flex items-center"
      >
        <FaIcon icon={faAngleLeft} size="3x" />
        <div class="ml-4 text-xl">Not a {accountType}?</div>
      </button>
      <input
        type="text"
        placeholder="Business Name"
        bind:value={businessName}
        class="mb-4 p-3 lg:w-1/2 text-2xl bg-gray-100 hover:bg-white focus:bg-white outline-none focus:ring-2 ring-green-300 shadow-md"
      />
      <!-- TODO replace with proper location component -->
      <input
        type="text"
        placeholder="Location/Region"
        bind:value={location}
        class="mb-4 p-3 lg:w-1/2 text-2xl bg-gray-100 hover:bg-white focus:bg-white outline-none focus:ring-2 ring-green-300 shadow-md"
      />
      <input
        type="email"
        placeholder="Email"
        bind:value={email}
        class="mb-4 p-3 lg:w-1/2 text-2xl bg-gray-100 hover:bg-white focus:bg-white outline-none focus:ring-2 ring-green-300 shadow-md"
      />
      <input
        type="password"
        placeholder="Password"
        bind:value={password}
        class="mb-4 p-3 lg:w-1/2 text-2xl bg-gray-100 hover:bg-white focus:bg-white outline-none focus:ring-2 ring-green-300 shadow-md"
      />
      <input
        type="password"
        placeholder="Confirm Password"
        bind:value={confirmPassword}
        class="mb-4 p-3 lg:w-1/2 text-2xl bg-gray-100 hover:bg-white focus:bg-white outline-none focus:ring-2 ring-green-300 shadow-md"
      />
      <button
        type="submit"
        on:click={confirmStep}
        class="m-4 w-20 h-20 text-xl text-green-500 bg-white active:bg-gray-100 outline-none rounded-sm shadow-md active:shadow-none flex flex-col justify-center items-center"
      >
        <FaIcon icon={faAngleRight} size="2x" />
      </button>
    {/if}
    {#if currentStep == REGISTRATION_STEPS.CONFIRM}
      <button
        type="button"
        on:click={goBackStep}
        class="mb-6 px-2 text-white hover:text-opacity-80 outline-none active:text-white flex items-center"
      >
        <FaIcon icon={faAngleLeft} size="3x" />
        <div class="ml-4 text-xl">Change something</div>
      </button>
      <div class="mb-4 text-2xl text-white flex flex-col items-center">
        Your {accountType} Name
        <strong>{businessName}</strong>
      </div>
      <div class="mb-4 text-2xl text-white flex flex-col items-center">
        Located In
        <strong>{location}</strong>
      </div>
      <div class="text-2xl text-white flex flex-col items-center">
        Account Email
        <strong>{email}</strong>
      </div>
      <button
        type="submit"
        class="mt-10 w-20 h-20 text-xl text-green-500 bg-white active:bg-gray-100 outline-none rounded-sm shadow-md active:shadow-none flex flex-col justify-center items-center"
      >
        <FaIcon icon={faCheck} size="2x" />
      </button>
    {/if}
  </main>
  <footer class="p-2 text-white text-opacity-90 text-sm bg-green-600 flex justify-center">
    2021 &copy; SomeCompanyName
  </footer>
</div>
